$accent-bg: #8BC34A;
$footer-bg : #303F9F;

.footer {
  background-color: $footer-bg;
  bottom: 0px;
  width: 100%;
  position: fixed;
  ul {
    list-style: none;
  }
  * {
    transition: all 0.2s ease-in-out;
  }
}

.footer-base{
  display: flex;

  .album-img {
    float: left;
    height: 100px;
    width: 100px;
    background-color: $accent-bg;
  }

  .footer-controls {
    width: 100%;


    .progress {
      border: 0px solid transparent;
      border-radius: 0px;
      height: 10%;
      margin: 0px;
      background-color: transparent;
      z-index: 1000;

      .progress-bar {
        background-color: $accent-bg;
      }
    }

    .player-content {
      display: inline-block;
      height: 100%;
      margin-top: -0.5%;
      width: 100%;

      .song-details {
        font-family: 'Roboto-Regular';
        color: white;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        float: left;
        padding-left: 20px;
        max-width: 35%;
        position: absolute;

        p {
          margin: 0px;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        .song-title {
          font-size: 24px;
        }

        .artist-name {
          font-size: 16px;
        }
      }

      .play-control-buttons {
        margin: 0px;
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        li {
          padding: 15px;
          margin: 0px 5px;
          display: inline-block;

          &:hover {
            transform: scale3d(1.3,1.3,1);
          }

          img {
            transform: scale3d(1.2,1.2,1);
          }

          &:nth-child(2) {
            background-color: $accent-bg;
            border-radius: 50%;
            box-shadow: 0 0px 10px rgba(0,0,0,0.23),0 3px 10px rgba(0,0,0,0.16);

            &:hover {
              transform: scale3d(1.1,1.1,1);
            }

            img {
              transform: scale3d(1.6,1.6,1);
            }
          }
        }
      }
    }
  }
}
