$header-bg: #FFFFFF;
$accent-bg: #8BC34A;
$nav-color: #616161;
$primary-text: #212121;
$secondary-text: #757575;
.library {
    width: 100%;
    * {
        -webkit-app-region: no-drag;
    }
    .library-content {
        width: 100%;
        height: fit-content;
        margin-top: 50px;
        .library-empty {
            position: absolute;
            top: 100px;
            bottom: 100px;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                color: $secondary-text;
                font-size: 40px;
            }
            p.sub-message {
                font-size: 30px;
                a {
                    text-decoration: none;
                    color: $accent-bg;
                }
                a:hover {
                    cursor: pointer;
                    color: #337ab7;
                }
            }
        }
        .lib-viewbox {
            width: calc(94% - 250px);
            position: fixed;
            top: 55px;
            bottom: 100px;
            left: calc(3% + 250px);
            overflow: scroll;
        }
        .lib-message {
            position: fixed;
            top: 55px;
            left: 250px;
            width: 100%;
            background-color: white;
            z-index: 1000;
            box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
            padding: 0 4%;
            h1 {
                color: $primary-text;
                font-weight: bold;
            }
            p {
                color: $secondary-text;
                font-size: 18px;
            }
        }
        .songs-table {
            position: absolute;
            width: 100%;
            z-index: 10;
        }
        .songs-view {
            color: teal;
            margin: 100px auto auto;
            width: 100%;
            * {
                transition: 0s;
                border-color: $secondary-text;
            }
            thead {
                top: 110px;
                border-bottom: 1px;
                font-size: 15px;
                text-transform: uppercase;
                th {
                    letter-spacing: 1ch;
                }
            }
            tbody {
                font-size: 20px;
                color: $primary-text;
                border: 0;
                tr {
                    * {
                        margin: 0;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                    }
                    h3,
                    p {
                        width: 100%;
                    }
                    p {
                        text-transform: capitalize;
                        font-size: 15px;
                    }
                    td {
                        height: 69px;
                        border: 0;
                        padding: 0;
                        margin: 0;
                        padding-top: 13px;
                        p {
                            color: $secondary-text;
                        }
                    }
                    td:nth-child(1) {
                        padding: 19px 10px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                        flex-direction: column;
                        justify-content: center;
                        img {
                            content: url('../../dist/img/play.svg');
                            border: 3px solid white;
                            border-radius: 50%;
                            visibility: hidden;
                        }
                    }
                    &:hover td:nth-child(1) img {
                        visibility: visible;
                    }
                    td:nth-child(2) {
                        width: 60%;
                        max-width: 500px;
                    }
                    td:nth-child(3) {
                        width: 20%;
                        max-width: 100px;
                    }
                    td:nth-child(4) {
                        width: 10%;
                        max-width: 50px;
                    }
                }
                tr.active {
                    * {
                        color: white;
                    }
                    td {
                        background-color: $accent-bg;
                    }
                    td:nth-child(1) {
                        img {
                            visibility: visible;
                            border: 3px solid transparent;
                            content: url('../../dist/img/volume_up.svg');
                        }
                        img:hover {
                            content: url('../../dist/img/play.svg');
                            border: 3px solid white;
                        }
                    }
                }
                tr.play {
                    td:nth-child(1) {
                        img:hover {
                            content: url('../../dist/img/pause.svg');
                        }
                    }
                }
                tr.active:hover,
                tr:hover {
                    background-color: #0288D1;
                    * {
                        color: white;
                    }
                    box-shadow: 0 5px 6px 0 rgba(0,
                    0,
                    0,
                    0.2);
                }
            }
        }
        .album-grid {
            margin: 100px auto 0;
            transition: all 1s ease;
            .album-item {
                padding: 20px;
                width: 20%;
                min-width: 300px;
                color: $primary-text;
                display: inline-block;
                margin: 0 30px;
                text-align: center;
                img {
                    width: 100%;
                    background-color: $primary-text;
                    box-shadow: 2px 16px 26px 0 rgba(36, 33, 69, 0.3);
                    margin-bottom: 5px;
                }
                h3 {
                    color: #474283;
                }
                h5 {
                    font-size: 20px;
                }
            }
        }
    }
}