$header-bg : #282828;
$accent-bg: rgb(29,184,83);

.library {
    width: 100%;
    height: 100%;

    * {
        transition: 0.2s ease-in-out;
    }

    .nav {
        position: fixed;
        top: 55px;
        width: 100%;
        z-index: 1000;
        background-color: $header-bg;
    }

    .nav-item {
        a {
            color: white;
            font-weight: bold;
            font-size: 20px;
            text-transform: uppercase;
            border-radius: 0px;
            transition: 0s;
        }
        a:hover {
            background: $header-bg;
            border-bottom: 2px solid $accent-bg;
        }
        a.active {
            color: $accent-bg;
            border-bottom: 2px solid $accent-bg;
        }
    }

    .library-content {
        width: 100%;
        height: 100%;
        top: 55px;
        position: absolute;

        .library-empty {
            width: 100%;
            height: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                color: white;
                font-size: 40px;
            }
            p.sub-message {
                font-size: 30px;
                a {

                    text-decoration: none;
                    color: $accent-bg;
                }
                a:hover {
                    cursor: pointer;
                    color: #337ab7;
                }
            }
        }

        .songs-viewbox {
            margin:auto;
            width: 92%;

            h1, p {
                color: white;
            }
        }

        .songs-view {
            color: teal;
            margin: auto;
            width: 100%;

            * {
                transition: 0s;
                border-color: #414141;
            }

            thead {
                top: 110px;
                border-bottom: 0.5px;
                font-size: 13px;
                text-transform: uppercase;

                th {
                    letter-spacing: 1ch;
                    font-weight: lighter;
                }
            }

            tbody {
                font-size: 16px;
                color: white;

                tr {

                    td {
                        border: 0px;
                        padding-top: 13px;
                        text-overflow: ellipsis;
                        white-space: nowrap;
                        overflow: hidden;
                        max-width: 200px;
                    }

                    td:nth-child(1) {
                        width: fit-content;
                        text-align: center;
                        padding: 6px;
                        img{
                            content: url('../../dist/img/play.svg');
                            padding: 5px;
                            border: 1px solid white;
                            border-radius: 50%;
                            visibility: hidden;
                        }
                    }

                    &:hover td:nth-child(1) img{
                        visibility: visible;
                    }

                }

                tr.active {
                    td {
                        color: $accent-bg;
                        background-color: inherit;
                    }

                    &:hover td:nth-child(1) {
                        img {
                            background-color: #212121;
                        }
                    }

                    td:nth-child(1) {
                        img {
                            visibility: visible;
                            border: 1px solid transparent;
                            content: url('../../dist/img/volume_up.svg');
                        }
                        img:hover {
                            content: url('../../dist/img/play.svg');
                            background-color: transparent;
                            border: 1px solid white;
                        }
                    }
                }

                tr.play {
                    td:nth-child(1) {
                        img:hover {
                            content: url('../../dist/img/pause.svg');
                        }
                    }
                }

                tr:hover {
                    background-color: #414141;
                }
            }
        }
    }

}
