$sidebar-bg: #FFFFFF;
$accent-bg: #8BC34A;
$primary-text: #212121;
$secondary-text: #757575;
$divider: #999999;
$body-bg: #FFFFFF;
$header-bg: #FFFFFF;
$light-prim: #B3E5FC;
$title-color: #414141;
$close-btn-color: rgb(255, 74, 59);
$minimize-btn-color: rgb(251, 210, 0);
$maximize-btn-color: rgb(0, 231, 67);
@font-face {
  font-family: 'Product Sans';
  src: url('../../dist/fonts/ps_reg.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Product Sans';
  src: url('../../dist/fonts/ps_bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Raleway-Regular';
  src: url('../../dist/fonts/Raleway-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway-Light';
  src: url('../../dist/fonts/Raleway-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway-ExtraLight';
  src: url('../../dist/fonts/Raleway-ExtraLight.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Raleway-Thin';
  src: url('../../dist/fonts/Raleway-Thin.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Thin';
  src: url('../../dist/fonts/Roboto-Thin.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../../dist/fonts/Roboto-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Light';
  src: url('../../dist/fonts/Roboto-Light.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Medium';
  src: url('../../dist/fonts/Roboto-Medium.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../../dist/fonts/Roboto-Bold.ttf');
  font-weight: normal;
}

body {
  font-family: 'Product Sans';
  -webkit-font-smoothing: antialiased;
  background-color: $body-bg;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $primary-text;
}

p,
span,
a {
  color: $secondary-text;
}

#react-content,
body,
html {
  margin: 0px;
  width: 100%;
  height: 100%;
  * {
    user-select: none;
    -webkit-user-select: none;
  }
}

.main-content {
  position: fixed;
  top: 55px;
  left: 250px;
  bottom: 100px;
  width: 100%;
  overflow: scroll;
}

::-webkit-scrollbar {
  display: none;
}

@import 'footer';
@import 'header';
@import 'library';
@import 'sidebar';
@import 'settings';
@import 'loader';
